<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workvesion">

    <application
        android:allowBackup="true"
        android:icon="@drawable/octo_fon_3"
        android:label="OctoPlus"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".useful.UsefulC2"></activity>
        <activity android:name=".useful.UsefulC1" />
        <activity android:name=".useful.UsefulD" />
        <activity android:name=".useful.UsefulC" />
        <activity android:name=".useful.UsefulB" />
        <activity android:name=".useful.UsefulA" />
        <activity android:name=".dormitory.DormitoryC" />
        <activity android:name=".dormitory.DormitoryB" />
        <activity android:name=".dormitory.DormitoryA" />
        <activity android:name=".balls.NoBalls5" />
        <activity android:name=".balls.NoBalls4" />
        <activity android:name=".balls.NoBalls3" />
        <activity android:name=".balls.NoBalls2" />
        <activity android:name=".balls.NoBalls1" />
        <activity android:name=".balls.NoBallsB" />
        <activity android:name=".balls.NoBallsA" />
        <activity android:name=".balls.NoBalls" />
        <activity android:name=".balls.BallsC" />
        <activity android:name=".balls.BallsB" />
        <activity android:name=".balls.BallsA" />
        <activity android:name=".balls.Balls" />
        <activity android:name=".entrance.DocumentsB" />
        <activity android:name=".entrance.DocumentsA" />
        <activity android:name=".entrance.CountsPlaces" />
        <activity android:name=".entrance.Ways" />
        <activity android:name=".entrance.Deadlines" />
        <activity android:name=".entrance.Documents" />
        <activity android:name=".education.TransferC" />
        <activity android:name=".education.QuestionB" />
        <activity android:name=".education.QuestionA" />
        <activity android:name=".education.AttestationAB" />
        <activity android:name=".education.AttestationAA" />
        <activity android:name=".education.AttestationB" />
        <activity android:name=".education.AttestationA" />
        <activity android:name=".education.TransferB" />
        <activity android:name=".education.TransferA" />
        <activity android:name=".education.SOC" />
        <activity android:name=".education.SOB" />
        <activity android:name=".education.SOA" />
        <activity android:name=".education.OrganizationOfPractice" />
        <activity android:name=".education.TuitionFees" />
        <activity android:name=".education.Questions" />
        <activity android:name=".education.Attestation" />
        <activity android:name=".education.Transfer" />
        <activity android:name=".education.SpecialOpportunity" />
        <activity android:name=".money.Scholarship" />
        <activity android:name=".money.MatHelp" />
        <activity android:name=".money.MoneyG" />
        <activity android:name=".money.MoneyF" />
        <activity android:name=".money.MoneyE" />
        <activity android:name=".money.MoneyD" />
        <activity android:name=".money.MoneyC" />
        <activity android:name=".money.MoneyA" />
        <activity android:name=".money.MoneyB" />
        <activity android:name=".NavigationLeft" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <provider
            android:name=".LegacyCompatFileProvider"
            android:authorities="REPLACE_IT_WITH_PACKAGE_NAME"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>